@{
ViewData["Title"] = "Como ser Voluntario";
}

<link rel="stylesheet" href="css/bluehorizon.css"/>
<div class="pt-5">
    <div style="background-color: #363636;" class="text-center">
        <h2 class="pt-2 pb-2 text-white" >Como virar voluntário?</h2>
    </div>
</div>

<h3 class="display-5 text-center">A BlueHorizon tem a missão de contribuir com a limpeza dos oceanos por meio de uma união coletiva.</h3>

<img src="Imagens/Nuvem.jpg" style="width: 100%"/>

<div>
    <h4 class="pt-5 text-center">Para se tornar um voluntário, primeiramente você precisa realizar um cadastro na BlueHorizon.</h4>
</div>

<div>
    <h4 class="pt-5 text-center">Depois disso, é muito simples: basta ir para uma praia e começar a limpeza!</h4>
</div>
<div class="d-flex">
    <img src="Imagens/Aviso.png" style="width: 120px; height: 120px"/>
    <p style="font-size: 30px" class="display-5 text-end fw-bold pt-5">É importante que você veja nossa lista dos pontos de coleta do lixo, pois apenas eles estão credenciados para a contagem.</p>
</div>

<div class="text-center pt-5">
    <h4>Assim, ao mesmo tempo em que estamos garantindo um futuro limpo ao retirar os lixos dos oceanos, também garantimos aos voluntários o recebimento de dinheiro pelo seu esforço e cuidado.</h4>
</div>

<div>
    <h4 class="pt-5 text-center">Em seu perfil dentro da BlueHorizon é possível acompanhar seu progresso, verificar quanto de lixo você já retirou e o dinheiro disponível para sacar. Imagina que legal ganhar dinheiro fazendo o bem?</h4>
</div>

<div class="d-flex flex-column mx-auto align-items-center pt-5">
    <a asp-action="Cadastrar" asp-controller="VoluntarioPessoa" class="link m-1 rounded-pill text-decoration-none text-white text-center pt-1">Junte-se a nós</a>
</div>

