@model VoluntarioPerfil

@{
ViewData["Title"] = "Cadastrar Perfil";
}

<h1>Cadastrar Perfil</h1>

<form asp-action="Cadastrar" method="post">
    <div class="form-group">
        <div class="mb-3">
            <input type="number" placeholder="Quantidade de Lixo Retirado" class="form-control rounded-pill" style="background-color: #bccad4; text-decoration-color: #5c6468; width: 40rem"  asp-for="QntdLixo" class="form-control">
        </div>
        <span asp-validation-for="QntdLixo" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="PessoaId"/>
    
    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary"/>
    </div>
</form>