@model PontosColeta
@{
ViewData["Title"] = "Editar Ponto Coleta";
}
<link rel="stylesheet" href="css/bluehorizon.css"/>
<div class="pt-5 align-items-center">
    <div style="background-color: #363636;" class="text-center">
        <h2 class="pt-2 pb-2 text-white" >Editar Ponto de Coleta</h2>
    </div>
</div>
<div class="pt-2 d-flex flex-column align-items-center">
    <img src="../Imagens/Cadeado.png" class="pt-3" style="width: 120px; height: 120px"/>
</div>


<form asp-action="Editar" method="post" class="pt-4 d-flex flex-column align-items-center">
    <div class="mb-3">
        <input type="text" placeholder="Nome do ponto" asp-for="NomePonto" class="form-control rounded-pill" style="background-color: #bccad4; text-decoration-color: #5c6468; width: 40rem">
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Estado" class="form-control rounded-pill" style="background-color: #bccad4; text-decoration-color: #5c6468; width: 40rem"  asp-for="EstadoPonto" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Nome do gerente" asp-for="GerentePonto" class="form-control rounded-pill" style="background-color: #bccad4; text-decoration-color: #5c6468; width: 40rem">
    </div>
    <input type="hidden" asp-for="Id"/>
    <button type="submit" value="Editar" class="btn btn-primary rounded-pill" style="background-color: #1189e0; width: 23rem; height: 2.5rem; font-size: 20px;" >Editar</button>
</form>